@charset "UTF-8";
:root {
  --main-color: #212121;
  --secondary-color: #757575;
}

/* Нормолайз */
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  border-width: 0;
}

section {
  padding: 94px 0;
}

.hide--title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Стили для шапки */
.page-header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  align-items: center;
}

/* Стиль Логотипа*/
.logo {
  color: #000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--color {
  color: #2196F3;
}

/* Стили навигации */
.site-navigation {
  display: flex;
  margin-left: 95px;
}

.site-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.site-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-session::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.current-session--link {
  color: #2196F3;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-navigation {
  display: flex;
  margin-left: auto;
}

.contact-icon {
  display: flex;
  align-items: center;
  width: 16px;
  fill: var(--secondary-color);
  margin-right: 10px;
}

.auth-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.auth-navigation__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-navigation__link:hover,
.auth-navigation__link:focus {
  color: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-navigation__link:hover .contact-icon,
.auth-navigation__link:focus .contact-icon {
  fill: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для хиро */
.hero {
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  display: block;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #000;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  background-color: #2196F3;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero--container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Стили для наших привилегии */
.benefits {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  width: 270px;
}

.benefits__titel {
  margin-bottom: 10px;
  color: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__article {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Иконки сверху */
.benefits__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../images/icon/antenna.png");
}

.icon-clock::before {
  background-image: url("../images/icon/clock.png");
}

.icon-diagram::before {
  background-image: url("../images/icon/diagram.png");
}

.icon-astrounaut::before {
  background-image: url("../images/icon/astronaut.png");
}

/* Стили "Чем занимаемся" */
.work {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}

.work__titel {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.wokr-section {
  position: relative;
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.wokr-section__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

/*  Стили Наша команда */
.team {
  background-color: #F5F4FA;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-persons {
  display: flex;
  justify-content: space-between;
}

.team-persons__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-bottom: 0px;
  padding-top: 30px;
}

.team-description__name {
  color: var(--main-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-description__article {
  margin-top: 10px;
  color: var(--secondary-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-socials {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto 30px auto;
}

.team-socials__link {
  display: block;
  align-items: center;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
}

.team-socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__item {
  border-radius: 50%;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: blue; */
}

.team-socials .team-socials__item:hover,
.team-socials__item .team-socials__link:focus {
  background-color: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__item .team-socials__link:focus .team-socials__icon,
.team-socials .team-socials__item:hover .team-socials__icon {
  fill: #ffffff;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Постоянные клиенты секция */
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto 30px auto;
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__icon {
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover,
.client-list__link:focus {
  border: 1px solid rgb(33, 150, 243);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer--container {
  display: flex;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-adress__article {
  margin-top: 20px;
  color: #fff;
}

.footer-adress__link {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Footer socials */
.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;
}

.footer-social__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* margin: 16px auto 30px auto; */
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-list .footer-social-list__item {
  border-radius: 50%;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: blue; */
}

.footer-social-list .footer-social-list__item:hover,
.footer-social-list .footer-social-list__link:focus {
  background-color: #2196F3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer form */
.footer-form {
  margin-left: 93px;
  margin-top: 12px;
}

.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 15px;
  padding-left: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.footer-form__button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__icon {
  fill: #fff;
  margin-left: 10px;
  vertical-align: middle;
}

/* Портфолио */
/* Кнопки портфолио */
.portfolio-buttons {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__button {
  display: block;
  padding: 6px 22px;
  background: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Список робот */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.portfolio__item:hover,
.portfolio__item:focus {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__article {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__description {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* Modal and Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #2196F3;
}

/* Form */
.modal-inner {
  padding: 40px;
}

.modal-inner__title {
  display: block;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Form-field */
.form-feild__label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__inner {
  position: relative;
}

.form-field__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-80%);
  fill: CurrentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:hover,
.form-field__input:focus {
  border-color: #2196F3;
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon,
.form-field__input:active + .form-field__icon {
  fill: #2196F3;
}

.form-field-texarea {
  resize: none;
  padding: 12px 16px;
}

/* Chekbox */
.form-field--checkbox {
  display: flex;
  padding-left: 13px;
}

.form-field__checkbox-input {
  appearance: none;
}

.form-field__checkbox-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-top: 3px;
  margin-right: 9px;
  background-color: #fff;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
}

.form-field__checkbox-icon {
  opacity: 0;
  flex-shrink: 0;
  fill: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  border-radius: 2px;
}

.form-field__checkbox-input:checked + .form-field__checkbox-icon {
  opacity: 1;
}

.form-field__checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-field__terms-link {
  text-decoration-line: underline;
  color: #2196F3;
}

.form-field__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background: #188CE8;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__button:focus,
.form-field__button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */