$hero-image-gradient:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
.hero {
    max-width: 1600px;
    background-image: $hero-image-gradient, url(../images/hero-bg/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;

    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    @media  screen and (max-width:576px) {
        &{background-image: $hero-image-gradient, url('../images/hero-bg/mobile-img1x.jpg');}
        }
        @media not all,
        screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: 576px) and (min-resolution: 192dpi),
        screen and (max-width: 576px) and (min-resolution: 2dppx){
              &{background-image: $hero-image-gradient, url('../images/hero-bg/mobile-img@2x.jpg');}
        }
        
        @media screen and (min-width:576px){
              &{background-image: $hero-image-gradient, url('../images/hero-bg/tablet-img1x.jpg');}
        }
        @media not all,
        screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 576px) and (min-resolution: 192dpi),
        screen and (min-width: 576px) and (min-resolution: 2dppx){
              &{background-image: $hero-image-gradient, url('../images/hero-bg/tablet-img@2x.jpg');}
        }
        
        @media screen and (min-width:1200px){
              &{padding-top: 200px;
              padding-bottom: 200px;
        background-image: $hero-image-gradient, url('../images/hero-bg/dekstop-img1x.jpg');}
        }
        @media not all,
        screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (min-resolution: 192dpi),
        screen and (min-width: 1200px) and (min-resolution: 2dppx){
              &{background-image: $hero-image-gradient, url('../images/hero-bg/dekstop-img@2x.jpg');}    
    
}
}
.hero__title  {
    display: block;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: #000;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.61;
        width: 360px;
  }
}

.hero-button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    
    
    background-color: #2196F3;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

// .hero--container {
//     padding-top: 100px;
//     padding-bottom: 100px;
// }
